*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body
{
    display: flex;
    flex-direction: column;
}


.container
{
    width: 80%;
    min-height: 200px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header-main
{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-main .logo
{
    display: flex;
    flex-direction: row;
    flex-basis: 45%;
    background-color: cadetblue;
    color: white;
    justify-content: center;
    align-items: center;
}

.header-main .menu
{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    background-color: blueviolet;
    color: white;
    justify-content: center;
    align-items: center;
}


.slider
{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: white;

}

.main-box
{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 250px;
    /* border: 3px solid black; */
    justify-content: space-evenly;
    margin-top: 10px;
}

.main-box .box
{
    display: flex;
    flex-direction: row;
    flex-basis: 32%;
    background-color: brown;
    color: white;
    align-items: center;
    justify-content: center;
    
}
.con 
{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 150px;

}


.con p 
{
    padding: 10px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.footer
{
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    
}
/* for mobile view site */
@media only screen and (max-width: 768px)
{
    .header-main
    {
        flex-direction: column;
        height: 100px;
    }
    
    .main-box
    {
        flex-direction: column;
        height: 500px;

    }


    .container
    {
        width: 100%;
    }

}

